[Unit]
Description=Nabaztag guinea pig daemon
After=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/pynab
EnvironmentFile=/opt/pynab/nabguinead/nabguinead.conf
ExecStart=/opt/pynab/venv/bin/python -m nabguinead.nabguinead
PIDFile=/run/nabguinead.pid

[Install]
WantedBy=multi-user.target
